%h2 Edit #{@npc.name}

= image_tag "/images/default_npc_image.png"

= form_tag npc_path(@npc), :method => :put do

  = label :npc, :name, 'Name'
  = text_field :npc, :name

  = label :npc, :description, 'Description'
  = text_field :npc, :description
 
  = label :npc, :gm_note, 'GM Note'
  = text_field :npc, :gm_note
  
  = label :npc, :player_note, 'Player Note'
  = text_field :npc, :player_note
  
  = hidden_field_tag(:gm, params["gm"])
  = hidden_field_tag(:campaign_id, params["campaign_id"])
  
  
  = submit_tag 'Save Changes'
= link_to "Back to #{@npc.name} Details", npc_path(@npc, gm: @gm, campaign_id: @campaign_id), :class => 'button'
