= link_to "Back to #{@location.name}", location_path(@npc.location_id, gm: @gm, campaign_id: @campaign_id), :class => 'button'

- if current_user.id == @gm.to_i
  = link_to "Edit", edit_npc_path(@npc, gm: @gm, campaign_id: @campaign_id), :class => 'button'
  = link_to 'Delete', npc_path(@npc, gm: @gm, campaign_id: @campaign_id), :method => :delete, :class => 'button'

%h2 Details about #{@npc.name}

= image_tag "/images/default_npc_image.png"

%ul#details
  %li
    Name:
    = @npc.name
  %li
    Created on:
    = @npc.created_at.strftime("%B %d, %Y")

%h3 Description:

%div#description= @npc.description

%h3 GM Note:

%div#gm_note= @npc.gm_note

%h3 Player Note:

%div#player_note= @npc.player_note

