%h2 Edit Campaign

= form_tag campaign_path(@campaign), :method => :put do

    = label :campaign, :name, 'Change the name of your Campaign'
    = text_field :campaign, 'name'
    
    = label :campaign, :world_id, 'Change your campaign world'
    = collection_select(:campaign, :world_name, World.all, :name, :name, prompt: true)
    
    = submit_tag 'Save Changes'
= link_to "Back to #{@campaign.name} details", campaign_path(@campaign.id), :class => 'button'