
#content
  .parent
    %p
      = link_to 'Create New Campaign', new_campaign_path, :class => "button"  
    %p
      = link_to 'Create New World', new_world_path, :class => "button"
    %p
      = link_to 'View Worlds', worlds_path, :class => "button"
    %p
      = link_to 'View Tags', tags_path, :class => "button"
    %p
      = link_to 'View Locations', locations_path, :class => "button"
  .right.column
    %table#campaigns
      %thead
        %tr
          %th Your Campaigns
          %th Edit Campaign Details
      %tbody
        - @campaigns.where(:user_id => current_user.id).each do |campaign|
          %tr
            %td= link_to "#{campaign.name}", campaign_path(campaign)
            %td= link_to "Edit #{campaign.name}", edit_campaign_path(campaign)
            
    

  .left.column
    %table#user_campaigns
      %thead
        %tr
          %th Select a Campaign
          
      %tbody  
        - @user_campaigns.where(:user_id => current_user.id).each do |user_campaign|
          - @campaigns.where(:id => user_campaign.campaign_id).each do |campaign|
            %tr
              %td= link_to "#{@campaign = Campaign.find(user_campaign.campaign_id).name}", campaign_path(campaign)
              %end
    
          
    
    

