%h2 Create New Campaign

= form_tag campaigns_path, :method => :post do
    
    = label :campaign, :name, 'Name your Campaign'
    = text_field :campaign, :name
    
    = label :campaign, :world_id, 'Select a World for your Campaign'
    = collection_select(:campaign, :world_name, World.all, :name, :name, prompt: true)
    
    = label :campaign, :user_id, 'Select a GM for your Campaign'
    = collection_select(:campaign, :user_name, User.all, :name, :name, prompt: true)
    
    = submit_tag 'Save Changes'
= link_to 'Back to campaign list', campaigns_path, :class => 'button'