
= link_to 'Back to campaign list', campaigns_path, :class => 'button'

.parent
  %h2 #{@campaign.name}
.parent
  %ul#details
    %li
      GM:
      = @campaign.user.name
    %li
      Start Date:
      = @campaign.created_at.strftime("%B %d, %Y")
.parent
  %h3 The World of #{@campaign.world.name}
- if current_user.id == @campaign.user_id
  .parent
    %p
      = link_to 'View Locations', locations_path(world: @campaign.world_id, campaign_id: @campaign.id), :class => "button"
.right.column
  %table#campaigns
    %thead
      %tr
        %th Active Players
    %body
      - @user_campaigns.where(:campaign_id => @campaign.id).each do |user_campaign|
        - @users.where(:id => user_campaign.user_id).each do |user|
          - if user.id == @campaign.user_id
            %tr
              %td #{user.name} - (GM)
          - else
            %tr
              %td #{user.name}

- if current_user.id == @campaign.user_id
  .left.column
    %table#campaigns
      %thead
        %tr
          %th Continents
      %tbody
        - @continents.where(:world_id => @campaign.world_id).each do |continent|
          -if continent.hidden == true
            %tr
              %td= link_to "#{continent.name} - (hidden to players)", location_path(continent, gm: @campaign.user_id, campaign_id: @campaign.id)
          - else
            %tr
              %td= link_to "#{continent.name}", location_path(continent, gm: @campaign.user_id, campaign_id: @campaign.id)

- else 
  .left.column
    %table#campaigns
      %thead
        %tr
          %th Continents
      %tbody
        - @hcontinents.where(:world_id => @campaign.world_id).each do |continent|
          %tr
            %td= link_to "#{continent.name}", location_path(continent, gm: @campaign.user_id, campaign_id: @campaign.id)
