%h2 Edit Connection
- @locationInfo.each do |location|
    = form_tag connections_path, :method => :post do
        
        = label :connection, :parent_location_id, "#{location.name} is located in"
        = collection_select(:connection, :parent_location_name, Location.where(tag_id: location.tag_id.to_i - 1), :name, :name, prompt: true)
        
        <br><br>
        = label :connection, :child_location_id, "Select '#{location.name}' to set as child"
        = collection_select(:connection, :child_location_name, Location.where(id: location.id), :name, :name, prompt: true)
        
        <br> <br>
        = submit_tag 'Save Changes'
    <br>
    = link_to 'Back to location list', locations_path, :class => 'button'
    

= form_tag campaign_path(@campaign), :method => :put do

    = label :campaign, :name, 'Change the name of your Campaign'
    = text_field :campaign, 'name'
    
    = label :campaign, :world_id, 'Change your campaign world'
    = collection_select(:campaign, :world_name, World.all, :name, :name, prompt: true)
    
    = submit_tag 'Save Changes'
= link_to 'Back to campaign list', campaigns_path, :class => 'button'