
= link_to 'Back to connetions list', connections_path, :class => 'button'

%h2 #{@connection.name}

%ul#details
  %li
    GM:
    = @campaign.user.name
  %li
    Start Date:
    = @campaign.created_at.strftime("%B %d, %Y")

%h3 The World of #{@campaign.world.name}
.right.column
  %table#campaigns
    %thead
      %tr
        %th Active Players
    %body
      - @user_campaigns.where(:campaign_id => @campaign.id).each do |user_campaign|
        - @users.where(:id => user_campaign.user_id).each do |user|
          - if user.id == @campaign.user_id
            %tr
              %td #{user.name} - (GM)
          - else
            %tr
              %td #{user.name}


.left.column
  %table#campaigns
    %thead
      %tr
        %th Continents
    %tbody
      - @continents.where(:world_id => @campaign.world_id).each do |continent|
        %tr
          %td= link_to "#{continent.name}", location_path(continent, gm: @campaign.user_id)
