%h2 Edit World

= form_tag world_path(@world), :method => :put do

  = label :world, :name, 'Name'
  = text_field :world, :name

  = label :world, :description, 'Description'
  = text_area :world, :description
 
  = label :world, :gm_note, 'GM Note'
  = text_area :world, :gm_note
  
  = label :world, :character_note, 'Character Note'
  = text_area :world, :character_note
  
  = submit_tag 'Save Changes'
= link_to 'Back to campaign list', :class => 'button'