%h1 All Worlds

%table#worlds
  %thead
    %tr
      %th World Name
      %th Date Created
      %th More Info
      %th Edit World
  %tbody
    - @worlds.each do |world|
      %tr
        %td= world.name
        %td= world.created_at
        %td= link_to "More about #{world.name}", world_path(world)
        %td= link_to "Edit #{world.name}", edit_world_path(world)
= link_to 'Back to campaign list', campaigns_path, :class => 'button'