%h2 Create New World

= form_tag worlds_path, :method => :post do

  = label :world, :name, 'Name'
  = text_field :world, :name

  = label :world, :description, 'Description'
  = text_field :world, :description
 
  = label :world, :gm_note, 'GM Note'
  = text_field :world, :gm_note
  
  = label :world, :character_note, 'Character Note'
  = text_field :world, :character_note

  = submit_tag 'Save Changes'
= link_to 'Back to campaign list', campaigns_path, :class => 'button'