%h2 Details about #{@world.name}

%ul#details
  %li
    Name:
    = @world.name
  %li
    Created on:
    = @world.created_at.strftime("%B %d, %Y")

%h3 Description:

%div#description= @world.description

%h4 GM Note:

%div#gm_note= @world.gm_note

%h5 Character Note:

%div#character_note= @world.character_note

= link_to 'Back to world list', worlds_path, :class => 'button'